/*GLOBAL*/

@font-face {
    font-family: BrandonBold;
    src: url(../fonts/31E0DC_0_0.ttf); }
@font-face {
    font-family: BrandonMedium;
    src: url(../fonts/31E0DC_2_0.ttf); }
@font-face {
    font-family: BrandonRegular;
    src: url(../fonts/31E0DC_1_0.ttf);  }

html, body{
    font-family: BrandonRegular;
    height: 100%;
    width: 100%;
    margin: 0;
    color:#45484d;
    padding: 0; }

a{
    color:#45484d;
    outline: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none; }
a:hover{
    color:#298a87; }

a > .underline:hover{
    color:#298a87;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-bottom:2px solid #69b9b6; }

/*REUSE*/

.font-huge-white{
    font-family: BrandonBold;
    font-size: 48px;
    color:#fff; }

.font-huge-green{
    font-family: BrandonBold;
    font-size: 48px;
    color:#69b9b6; }

.font-huge-black{
    font-family: BrandonBold;
    font-size: 48px;
    color:#45484d ; }

.font-medium-white{
    font-family: BrandonRegular;
    font-size: 28px;
    color:#ffffff; }

.pre-title{
    font-size: 24px;
    color:#45484d; }

/*INPUT*/

.main-input{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 2px #babcbf;
    height: 45px;
    font-family:BrandonRegular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-top: 4px;
    color: #45484d;
    padding: 10px 24px;
    outline: none;
    box-sizing: border-box;
    width: 100%; }
    .main-input:hover, .main-input:focus, textarea.main-input:focus, textarea.main-input:hover{
        border: solid 2px #69b9b6; }

input.main-input.parsley-error, select.parsley-error, textarea.main-input.parsley-error{
    background: #fff;
    border: solid 2px #cf705c; }

input.main-input.parsley-success, select.parsley-success, textarea.main-input.parsley-success{
    background: #fff;
    border: solid 2px #babcbf;
    color:inherit; }

.parsley-required{
    margin-top: 4px;
    font-family: BrandonRegular;
    font-size: 14px;
    line-height: 1.29;
    color: #cf705c; }

.parsley-errors-list.filled{
    position: absolute;
    bottom: -24px; }


.input-list{
/*
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
*/
    background-image: url(../img/vm-dropdown.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 16px;
    background-size: 13px;
    background-position-x: 95%;
    background-position-y: 16px; }

input::-webkit-calendar-picker-indicator {
  display: none; } 

.input-wrapper{
    position: relative;
    margin-bottom: 24px; }

.input-wrapper div{
    font-size: 14px;
    font-family: BrandonMedium; }

.input-text-phone{
    margin-top: 18px;
    float: left; }

.input-phone{
    float: right;
    width: 90%;
    margin-top: 5px;
    padding: 10px 16px;
    display: block;
    font-family: BrandonRegular;
    font-size: 16px; }

.input-half{
    width: 48%;
    padding: 10px 16px;
    display: block;
    font-family: BrandonRegular;
    font-size: 16px; }

.input-full{
    width: 100%;
    padding: 10px 16px;
    display: block;
    font-family: BrandonRegular;
    font-size: 16px; }

.txt-area{
    max-width: 100%;
    height: 72px !important;
}

/*CHECKBOX*/

.checkbox{
    cursor: pointer;
    float: left;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    margin-right: 15px;
    border: solid 2px #babcbf; }

.square-check{
    position: relative;
    background-size: cover;
    display: inline-block;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    position: relative;
    top: 0; }

.checkbox > [type=radio], .checkbox> [type=checkbox]  {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

.checkbox > [type=checkbox]:checked ~ .square-check{
    background-image:url(../img/green-check.svg);
    background-size:12px;
    background-repeat: no-repeat;
    background-position: center; }

.checkbox > [type=radio]:checked ~ .circle-main {
    background: #3ebc78;
    border: 5px solid white;
    -moz-box-shadow: 0px 0px 1px 1px rgba(194,194,194,1);
    -webkit-box-shadow: 0px 0px 1px 1px rgb(156, 156, 156);
    -o-box-shadow: 0px 0px 1px 1px rgba(194,194,194,1);
    -ms-box-shadow: 0px 0px 1px 1px rgba(194,194,194,1);
    /* box-shadow: 0px 0px 1px 1px rgba(194,194,194,1); */
    box-sizing: border-box; }

/*LINES*/

.line-green{
    width: 35px;
    height: 8px; 
    margin-bottom: 32px;
    background-color: #69b9b6; }

.line-black{
    width: 35px;
    height: 8px;
    margin-bottom: 32px;
    background-color: #45484d; }

.underline{
    font-family:BrandonRegular;
    font-size: 16px;
    line-height: 1.5;
    color: #45484d;
    border-bottom: 2px solid #babcbf;
    padding-bottom: 1px; }

/*BUTTONS*/

.button-green{
    background-color: #69b9b6;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 19px;
    font-family: BrandonRegular;
    border:none;
    border-radius: 25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px; }
    .button-green:hover{
        background: #298a87; }
        .button-green:active, .button-green:focus{
              box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

.button-red{
    background-color: #cf705c;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 19px;
    font-family: BrandonRegular;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border:none;
    cursor: pointer;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .button-red:hover{
        background-color: #b56150; }
    .button-red:active, .button-red:focus{
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

.button-black{
    background-color: #45484d;
    width: 100%;
    font-family: BrandonRegular;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .button-black:hover{
        background-color: #1f2226; }
    .button-black:focus, .button-black:active {
        outline: 0;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

/*WRAPPERS*/

.center-wrapper {
    width: 40%;
    font-family:BrandonMedium;
    font-size: 14px;
    padding-top: 40px;
    margin: 0 auto; }

.main-wrapper{
    width: 85%;
    margin: 0 auto; }

.footer-wrapper{
    padding: 35px;
    margin: 0 auto; }

.footer-wrapper ul{
    margin: 0;
    padding: 0; }

.footer-wrapper ul li{
    margin-left: 15px;
    display: inline-block; }

.footer-wrapper ul li:first-child{
    margin-left: 0; }

.footer-wrapper ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #94979c; }

/*MISC*/

.add-img{
    margin-right: 5px; }

footer{
    background-color: #f5f6f7;
    margin-top: 200px; }

.article{
    margin: 0;
    font-family: BrandonRegular;
    font-size: 16px;
    line-height: 1.5;
    color: #45484d;
    margin-top: 8px; }

.tac{
    text-align: center; }

.clear{
    clear: both; }

.fr{
    float: right; }

.fl{
    float: left; }

.mb10{
    margin-bottom: 10px; }

.mb30{
    margin-bottom: 30px; }

.mb100{
    margin-bottom: 100px; }

.mt20{
    margin-top: 20px; }

.mt24{
    margin-top: 24px; }

.m0{
    margin: 0; }

.pos-r{
    position: relative; }


/*LOGIN*/

p.font-huge-green{
    margin-bottom: 16px; }


/*LUPA PASSWORD*/

p.font-huge-black{
    margin-bottom: 16px; }

/*SIGNUP / REGIS*/

.benefit-regis{
    margin-bottom: 96px;}

.benefit-regis img{
    width: 100px;
    float: left; }

.benefit-text{
    float: left;
    width: 75%;
    margin-left: 20px; }

.top-wrapper{
    padding: 200px 8%;
    margin-bottom: 60px;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../img/tanihub-vm-login-2.jpg);}
/*
    background-image: -webkit-linear-gradient(32deg, #69b9b6, #69b97e);
    background-image: -o-linear-gradient(32deg, #69b9b6, #69b97e);
    background-image: linear-gradient(122deg, #69b9b6, #69b97e); }
*/

.bot-wrapper{
    width: 50%; }

.title-wrapper{
    line-height: 1.13;
    margin-bottom: 130px;
    letter-spacing: -0.5px;
    width: 50%; }

#form-regis{
    top: 0;
    width: 30%;
    position: absolute;
    right: 8%;
    padding: 16px;
    margin-top: 100px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: BrandonMedium;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #babcbf; }

#form-regis button.button-green{
    margin-top: 30px;
    margin-bottom: 16px; }

#title-form-regis{
    font-family: BrandonRegular;
    font-size: 18px;
    margin-bottom: 24px;
    width: 100%;
    border-bottom: solid 1px #979797;
    color: #676b72; }

#form-regis-text{
    text-align: center; 
    font-family: BrandonRegular;
    font-size: 14px;
    color: #45484d; }

#form-regis-text a{
    color:#69b9b6;
}


/*RESPONSIVE*/

@media (max-width: 1100px){
    #form-regis {
        position: relative;
        top: -230px;
        width: 80%;
        right: auto;
        margin: 0 auto; }
    
    .title-wrapper{
        width: 100%;
        text-align: center; }
    
    .top-wrapper{
        padding-top: 50px; }
    
    .bot-wrapper{
        width: 100%; }
    
    #main-wrapper-regis{
        position: relative;
        top: -180px; }
    
    .m-tac{
        text-align: center; }
    
    .benefit-regis img{
        float: none; }
    
    .benefit-text{
        width: 100%;
        float: none;
        margin: 0;    
        text-align: center;
        margin-top: 10px; }
    
    .footer-wrapper{
        text-align: center; }
    
    .font-huge-white{
        font-size: 32px; }
    
    .title-wrapper{
        margin-bottom: 30px; }
}

@media (max-width: 800px){
    .center-wrapper{
        width: 100%;
        padding: 0 30px;
        margin-top: 25px;
        box-sizing: border-box; }
}

@media (max-width: 400px){
    .input-phone{
        width: 85%; }
}
